{% extends "base.html" %}
{% block start %}

<nav>
    <a href="/">
        <img src="/static/images/logo.png" alt="Cybertified">
    </a>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/writeups">Writeups</a></li>
        </ul>
    </nav>
    
<section class="intro-section-projects">
<h1>Projects</h1>
    <p>Various project ideas and resources dumps related to wide range of CySec Domain.<br>Coming soon....</p>
</section>

</div>


{% endblock %}
